<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Rubrica</h1>
        <ul class="list-group">
            <li class="list-group-item">create token: loclahost:8080/createtoken?username=xxx&password=xxx</li>
            <li class="list-group-item">add contact: loclahost:8080/addcontact?token=xxx&name=xxx&surname=xxx&phone=xxx&group=xxx(optional)</li>
            <li class="list-group-item">get token: loclahost:8080/gettoken?username=xxx&password=xxx</li>
            <li class="list-group-item">get contacts: loclahost:8080/getcontacts?token=xxx</li>
            <li class="list-group-item">update contact: loclahost:8080/updatecontact?token=xxx&id=xxx&name=xxx&surname=xxx&phone=xxx&group=xxx(optional)</li>
            <li class="list-group-item">delete contact: loclahost:8080/deletecontact?token=xxx&id=xxx</li>
            <li class="list-group-item">get groups: loclahost:8080/getgroups?token=xxx</li>
        </ul>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
